body{
    background: #ffb300;
    font-family: roboto;
    text-align: center;
}
h1,h2{
    color: rgb(0, 0, 0);
}
.ketengah{
    margin: 10px auto;
    width: 1150px;
}
.kotak1{
    background: #a37676;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;

}
.kotak2{
    background: #5dac4c;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    -ms-transform: translate(50px,100px); /* Support IE 9 */
     -webkit-transform: translate(50px,100px); /* support Safari */
     transform: translate(50px,100px); /* Standard syntax */
}