body{
    background: #e0d841;
    font-family: roboto;
    text-align: center;
    }
h1,h2{
    color: #fff;
}
.ketengah{
    margin: 10px auto;
    width: 1150px;
}
.kotak1{
    background: #2fd042;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 150px;
    height: 150px;
}
.kotak2{
    background: #bab8b8;
    padding: 20px;
    float: left;
    margin: 50px;
    width: 100px;
    height: 100px;
    -ms-transform: scale(2,3); /* Support IE 9 */
     -webkit-transform: scale(2,3); /* support Safari */
     transform: scale(2,2); /* Standard syntax */
}
.kotak3{
    transform: scale(0.5, 0.5);
    background: #a35656;
    padding: 5px;
    float: left;
    margin: 50px;
    width: 100px;
    height: 100px;
}
.kotak4{
    transform: scaleX(0.5);
    background: #8d7bcc;
    padding: 5px;
    float: left;
    margin: 50px;
    width: 100px;
    height: 100px;
}
.kotak5{
    transform: scaleY(0.5);
    background: #e1ad6f;
    padding: 5px;
    float: left;
    margin: 50px;
    width: 100px;
    height: 100px;
}